body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.select_form {
    width: 200px;
    height: 50px;
    font-size: medium;
    position: static;
}

.inp {
    width: 100px;
    height: 50px;
    font-size: xx-large;
}

.but {
    width: 190px;
    height: 30px;
    font-size: medium;
}

.formul_part {
    font-size: xx-large;
}
